body {
	background-color: #576574;
}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  min-height: 250px;
  height: 50vh;
  width: 100%;
  .carousel-cell {
	  width: 100%;
	  min-height: 250px;
	  height: 100%;
	  margin-right: 10px;
	  background: #8C8;
	  border-radius: 5px;
	  counter-increment: carousel-cell;
	  display: flex;
	  justify-content: center;
	    .container {
		  	max-width: 1200px;
		  	width: 100%;
		  	background-color: #fff;
		  	background-size: cover;
		  	text-align: center;
		  	h2{
		  		color: #eee;
		  		text-transform: uppercase;
		  	}
		  	img {
			  display: block;
			  min-height: 250px;
			  height: 50vh;
			}
 		 }
	}

}

.flickity-page-dots {
  display: none;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 50vh;
  }
}
