body {
	background-color: #003366;
}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFF;
	.header {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		background-color: #003366;
		color: #FFC107;
		h1{
			margin: 0 auto;
		}
	}
	.button-group {
	  	position: absolute;
	  	top: 10px;
	  	right: 10px;
  		button {
	  		padding: 8px;
	  		background-color: #FFC107;
	  		border: none;
	  		color: #003366;
	  		&:hover{
	  			background-color: #EEE;
	  			cursor: pointer;
  			}
  		}
  }
}
.carousel {
  background: #003366;
  width: 100%;
  .carousel-cell {
	  width: 100%;
	  margin-right: 10px;
	  background: #003366;
	  counter-increment: carousel-cell;
	  display: flex;
	  justify-content: center;
  	  flex-direction: column;
	  align-items: center;
	  min-height: 250px;
	  max-height: 50vh;
	    .container {
		  	max-width: 1200px;
		  	width: 100%;
		 	background-color: #003366;
		  	text-align: center;
		  	display: grid;
		  	height: 500px;
		  	max-height: 50vh;
		  	grid-template-columns: 100%;
		  	grid-template-rows: 38px auto 50px;
		  	grid-template-areas:
		  		"header"
		  		"image"
		  		"description";
		  	h2{
		  		color: #eee;
		  		text-transform: uppercase;
		  		background-color: #003366;
		  		margin: 0 auto;
		  		padding: 5px; 
		  		grid-area: header;
		  	}
		  	img {
		  		height: 100%;
				display: block;
				width: 100%;
				grid-area: image;
			}
 		 	.description {
	 		 	color: #FFF;
	 		 	height: 50px;
	 		 	display: flex;
	 		 	flex-direction: row;
	 		 	justify-content: space-between;
	 		 	align-items: center;
	 		 	grid-area: description;
	 		 	h3 {
	 		 	}
 		 }
 		 }

	}

}
.flickity-prev-next-button {
	background-color: #FFC107;
	color: #003366;
}
.progress-bar {
  height: 20px;
  width: 0;
  background: #FFC107;
}

#map {
    height: 400px;  
	width: 100%; 
	max-width: 1218px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 50vh;
  }
}
